@page "/tabla"
@inject HttpClient Http

<PageTitle>Tabla de Temperaturas</PageTitle>

<h1>Tabla de temperaturas</h1>

@if (temperaturas == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var temperatura in temperaturas)
            {
                <tr>
                    <td>@temperatura.Date</td>
                    <td>@temperatura.TemperatureC</td>
                    <td>@temperatura.TemperatureF</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private TemperatureDTO[]? temperaturas;

    protected override async Task OnInitializedAsync()
    {
        temperaturas = await Http.GetFromJsonAsync<TemperatureDTO[]>("http://localhost:3000/");
    }

    public class TemperatureDTO
    {
        public string? Date { get; set; }

        public float TemperatureC { get; set; }

        public float TemperatureF => 32 + (float)(TemperatureC / 0.5556);
    }
}

